@model TPLabo_4.Models.Calidad

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Calidad</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoMadera)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoMadera)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artesanal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artesanal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
