@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="/imagenes/logo.png" width="350" height="200" />
    <h3>¿Que desea ver?</h3>
    <a class="nav-link text-dark" asp-area="" asp-controller="Ferreterias" asp-action="Index">Ferreteria</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Carpinterias" asp-action="Index">Carpinteria</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Calidades" asp-action="Index">Calidad</a> 
    <a class="nav-link text-dark" asp-area="" asp-controller="Empleados" asp-action="Index">Empleados</a>

</div>
